<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vPermission">
      <h2 data-cy="vPermissionDetailsHeading"><span jhiTranslate="draftApp.vPermission.detail.title">V Permission</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vPermission.id }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.parentId">Parent Id</span></dt>
        <dd>
          <span>{{ vPermission.parentId }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.code">Code</span></dt>
        <dd>
          <span>{{ vPermission.code }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.name">Name</span></dt>
        <dd>
          <span>{{ vPermission.name }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.description">Description</span></dt>
        <dd>
          <span>{{ vPermission.description }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.type">Type</span></dt>
        <dd>
          <span>{{ vPermission.type }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.order">Order</span></dt>
        <dd>
          <span>{{ vPermission.order }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.url">Url</span></dt>
        <dd>
          <span>{{ vPermission.url }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.component">Component</span></dt>
        <dd>
          <span>{{ vPermission.component }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vPermission.perms">Perms</span></dt>
        <dd>
          <span>{{ vPermission.perms }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/v-permission', vPermission.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
