<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vUser">
      <h2 data-cy="vUserDetailsHeading"><span jhiTranslate="draftApp.vUser.detail.title">V User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.username">Username</span></dt>
        <dd>
          <span>{{ vUser.username }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.fullname">Fullname</span></dt>
        <dd>
          <span>{{ vUser.fullname }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.firstname">Firstname</span></dt>
        <dd>
          <span>{{ vUser.firstname }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.lastname">Lastname</span></dt>
        <dd>
          <span>{{ vUser.lastname }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.password">Password</span></dt>
        <dd>
          <span>{{ vUser.password }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.email">Email</span></dt>
        <dd>
          <span>{{ vUser.email }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.emailVerified">Email Verified</span></dt>
        <dd>
          <span>{{ vUser.emailVerified }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.language">Language</span></dt>
        <dd>
          <span>{{ vUser.language }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.enabled">Enabled</span></dt>
        <dd>
          <span>{{ vUser.enabled }}</span>
        </dd>
        <dt><span jhiTranslate="draftApp.vUser.vRole">V Role</span></dt>
        <dd>
          <span *ngFor="let vRole of vUser.vRoles; let last = last">
            <a [routerLink]="['/v-role', vRole.id, 'view']">{{ vRole.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/v-user', vUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
