<div>
  <h2 id="page-heading" data-cy="VPermissionHeading">
    <span jhiTranslate="draftApp.vPermission.home.title">V Permissions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="draftApp.vPermission.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-v-permission"
        [routerLink]="['/v-permission/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="draftApp.vPermission.home.createLabel"> Create a new V Permission </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vPermissions?.length === 0">
    <span jhiTranslate="draftApp.vPermission.home.notFound">No V Permissions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vPermissions && vPermissions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parentId">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.parentId">Parent Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="order">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.order">Order</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.url">Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="component">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.component">Component</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="perms">
            <div class="d-flex">
              <span jhiTranslate="draftApp.vPermission.perms">Perms</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vPermission of vPermissions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/v-permission', vPermission.id, 'view']">{{ vPermission.id }}</a>
          </td>
          <td>{{ vPermission.parentId }}</td>
          <td>{{ vPermission.code }}</td>
          <td>{{ vPermission.name }}</td>
          <td>{{ vPermission.description }}</td>
          <td>{{ vPermission.type }}</td>
          <td>{{ vPermission.order }}</td>
          <td>{{ vPermission.url }}</td>
          <td>{{ vPermission.component }}</td>
          <td>{{ vPermission.perms }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/v-permission', vPermission.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/v-permission', vPermission.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vPermission)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
